# Set

==> Collection of Element

==> Unique

==> No Index Positions

==> Elemets unordered

In [4]:
myset={1,2,1,33,5,6,33,33}
print(myset)
print(type(myset))

{1, 2, 33, 5, 6}
<class 'set'>

In [6]:
myset.add(5999)
print(myset)

{1, 2, 33, 5, 6, 5999}

In [8]:
myset.add("hey")

In [10]:
myset

{1, 2, 33, 5, 5999, 6, 'hey'}

In [16]:
myset.update("hello")
myset

{1, 2, 33, 5, 5999, 6, 'e', 'h', 'hey', 'l', 'o'}

In [19]:
myset.update(["rahul"])
myset

{1, 2, 33, 5, 5999, 6, 'e', 'h', 'hey', 'l', 'o', 'rahul'}

In [21]:
myset.remove(5999)
myset
# but ese dubara chalane par error aata hai

{1, 2, 33, 5, 6, 'e', 'h', 'hey', 'l', 'o', 'rahul'}

In [29]:
myset.discard("rahul")

In [31]:
myset

{1, 2, 33, 5, 6, 'e', 'h', 'hey', 'l', 'o'}

# Set in Python

Set is the collection of the unordered items.

Each element in the set must be unique & immutable.

null_set = set( ) #empty set syntax
nums = { 1, 2, 3, 4 }

set2 = { 1, 2, 2, 2 }
#repeated elements stored only once , so it resolved to {1,2}

# Set Methods

set.add( el ) #adds an element

set.remove( el ) #removes the elem an

set.clear( ) #empties the set

set.pop( ) #removes a random value

set.union( set2 ) #combines both set values & returns new

set.intersection( set2 ) #combines common values & returns new

# set is mutable but set's elemets are imutable

In [39]:
myset

{1, 2, 33, 5, 6, 'e', 'h', 'hey', 'l', 'o'}

In [41]:
len(myset)

10

In [52]:
myset.pop()

'h'

In [58]:
myset2={5,2,3,"h","o",5}
print(myset)
print(myset2)

{5, 6, 33, 'l', 'hey', 'o', 'e'}
{'h', 2, 3, 5, 'o'}

In [60]:
print(myset.union(myset2))

{33, 'h', 2, 3, 5, 6, 'l', 'hey', 'o', 'e'}

In [62]:
print(myset.intersection(myset2))

{5, 'o'}

In [64]:
myset.clear()
myset

set()

In [66]:
len(myset)

0

# Let's Practise

Q.Store following word meanings in a python dictionary :

    table : “a piece of furniture”,“list of facts & figures”
                cat : “a small animal”

In [72]:
mydict={"cat":"a small animal","table":["a piece of furniture","list of facts & figures"]}
print(mydict)

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts & figures']}

Q. You are given a list of subjects for students. Assume one classroom is required for 1
    subject. How many classrooms are needed by all students.

          "python","java","c++","python","javascript","java",
              "python","java","c++","c"

In [76]:
subjects={"python","java","c++","python","javascript","java",
          "python","java","c++","c"}

In [80]:
subjects

{'c', 'c++', 'java', 'javascript', 'python'}

In [82]:
len(subjects)

5

Q.  WAP to enter marks of 3 subjects from the user and store
        them in a dictionary. Start with an empty dictionary & 
        add one by one. Use subject name as key & marks as value.

In [91]:
marks={}
hindi=int(input("marks of hindi:"))
maths=int(input("marks of maths:"))
sst=int(input("marks of sst:"))
marks["hindi"]=hindi
marks["maths"]=maths
marks["sst"]=sst
print(marks)

marks of hindi: 56
marks of maths: 36
marks of sst: 95

{'hindi': 56, 'maths': 36, 'sst': 95}

In [93]:
marks={}
hindi=int(input("marks of hindi:"))
maths=int(input("marks of maths:"))
sst=int(input("marks of sst:"))
marks.update({"hindi":hindi})
marks.update({"maths":maths,"sst":sst})
print(marks)

marks of hindi: 25
marks of maths: 56
marks of sst: 89

{'hindi': 25, 'maths': 56, 'sst': 89}

Q.  Figure out a way to store 9 & 9.0 as separate values in the set.
        (You can take help of built-in data types)

In [96]:
values={9,9.0}
values

{9}

In [98]:
values={9,9.25}
values

{9, 9.25}

In [100]:
values={9,"9.0"}
values

{9, '9.0'}

In [102]:
values={("float",9.0),("int",9)}
values

{('float', 9.0), ('int', 9)}